.mainDataTable {
  padding: 2rem;
}

.tableCard {
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.tableTitle {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}
 
.addBtn {
  font-weight: bolder !important;
  background: linear-gradient(180deg, #4B45FF 0%, #191C63 100%);
  color: #fff;
}